<div class="panel panel-default" ng-class="{'panel-primary' : (date | date : 'ddMMMyyyy') == (result.dt * 1000 | date : 'ddMMMyyyy') }">
	<div class="panel-heading">
		<table class="table weather-result">
			<tr>
				<td nowrap>
					<h7>
						{{result.dt * 1000 | date : 'EEE dd MMM yyyy'}}<br>
						<span ng-bind-html="convert({temp:result.temp.min})"></span> &ndash;
						<span ng-bind-html="convert({temp:result.temp.max})"></span>
					</h7>
				</td>
				<td valign="top">
					<img ng-src="http://openweathermap.org/img/w/{{result.weather[0].icon}}.png" title="{{result.weather[0].description}}"/>
				</td>
			</tr>
		</table>
	</div>
</div>