<!--
 * @author Pedro Mello (MushDigital)
 * @email: pedro@mushdigital.com
 * @Date:   2015-08-16
-->

<nav class="navbar navbar-inverse">
	<div class="container-fluid text-center">
	        <a class="navbar-brand text-center" href="https://github.com/mushdigital20?tab=repositories" target="_blank">created by Pedro Mello (mushdigital)</a>
	</div>
</nav>