<!--
 * @author Pedro Mello (MushDigital)
 * @email: pedro@mushdigital.com
 * @Date:   2015-08-16
-->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Angular.js Weather Forecast</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
        </ul>
    </div>
</nav>